@keyframes starAnimation
{
    from { left: -100px; }
    to { left: calc( 100% + 100px ); }
}

.s{
  z-index: -1;
  position:fixed;
  left:0px;
  top:50px;
  width:1px;
  height:1px;
  background-color:white;
  position:fixed;
  animation-name:starAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@@keyframes tailTransformation {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

.s::before{
  position:absolute;
  display:block;
  content:"";
  width:500px;
  right:1px;
  top:0px;
  height:2px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.s-1{
  animation-duration:10s;
  top:30%;
}
.s-2{
  animation-duration:5s;
  top:60%;
}
.s-3{
  animation-duration:20s;
  top:90%;
}

.example1 {
  z-index: 2;
  width: 300px;
  height: 300px;
  background: linear-gradient(to bottom, rgba(75, 75, 93, 0.85), rgba(75, 75, 93, 0.85));
  border-radius: 5px;
  margin: auto;

}

.example2 {
  z-index: 2;
  width: 300px;
  height: 300px;
  background-color: grey;
  border-radius: 5px;
  margin: auto;
}

.example3 {
  z-index: 2;
  width: 300px;
  height: 300px;
  background-color: grey;
  border-radius: 5px;
  margin: auto;
}

.clock {
  border-radius: 50%;
  background: #fff url(ios_clock.svg) no-repeat center;
  background-size: 88%;
  height: 18.5em;
  padding-bottom: 31%;
  position: relative;
  width: 18.5em;
}

.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}
